.buynowbut{
    margin-top: 50px;
}


.head{
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    
}
.carousel{
    background-image: url("C:\Users\ASUS\OneDrive\Desktop\Elevate Lab Assignment\e-commerce-banner\public\images\curosle1.jpg");
    background-size: cover;
    height: 80vh;
}
.item1{
    height: 80vh;
    background-image: url("C:\Users\ASUS\OneDrive\Desktop\Elevate Lab Assignment\e-commerce-banner\public\images\1437673.webp");
    background-size: cover;
}
.item2{
    height: 80vh;
    background-image: url("C:\Users\ASUS\OneDrive\Desktop\Elevate Lab Assignment\e-commerce-banner\public\images\curosle2.jpg");
    background-size: cover;
}
.item3{
    height: 80vh;
    background-image: url("C:\Users\ASUS\OneDrive\Desktop\Elevate Lab Assignment\e-commerce-banner\public\images\curosle3.jpg");
    background-size: cover;
}
.hero{
    margin-top: 80px;
    text-align: center;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}
.heading{
    color: black;
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}
.fashion{
    height: 100vh;
}
.cards{
    width: 80%;  
}
.search{
    height: 35px;
    margin-top: 15px;
    width: 200px;
    margin-left: 40px;
}
.searchbtn{
    height: 35px;
    margin-top: 15px;
    margin-left: 5px;
    background-color: orangered;
    color: aliceblue;
}
.dropdown{
    margin-left: 20px; 

    height: 35px;
    
}
.log{
    margin-left: 50px;
}